loglevel=http
spin=false
progress=false
shrinkwrap=false
package-lock=false
audit=false
email=user@example.com
update-notifier=false
send-metrics=false
prefer-online=true
sign-git-tag=true
sign-git-commit=true
init.author.email=user@example.com
init.author.github=username
init.author.name=First Lastname
init.author.url=https://example.com
init.license=MIT
init.version=0.0.0
