color=true
editor=subl
email=user@exmaple.com
init.author.email=user@exmaple.com
init.author.github=username
init.author.name=User Name
init.author.url=https://example.com/
init.license=MIT
init.version=0.0.0
jobs=1
loglevel=http
progress=false
save-prefix=~
sign-git-tag=true
spin=false
